*{
    margin: 0;
}
body{
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: navy;
    color: white;
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;
    
}
a{
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: 10vw;
}
.dog{
    background-image: url("../images/banner_bg.png");
    height: 50vh;
   background-attachment: fixed;
    top: 10px;
    background-position: center;
    background-size: cover;


}
span{
    display: none;
}
h1{
    padding-left: 10vw;
    padding-top: 30vh;
}


.xxx{
    background-image: url("../images/review_bg.png");
    background-attachment: fixed;
   

    height: 50vh;
    
  
    position: sticky;
    background-position: center;
    background-size: cover;
}
.girl{
    
    
    display: flex;
    
    justify-content: space-around;
    
    
}
.logo{
    margin-top: 10vh;
}
.logo2{
    margin-top: 10vh;
}

.logo img{
    height: 5vw;
    
}

.logo2 img{
    height: 5vw;
}
.iconos{
    
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}
.iconos img{
    width: 8vw;
}
.icons{
    text-align: center;
   
}
.chiquito{
    display: flex;
    text-align: center;
    justify-content: space-around;

}
.chiquitin{
    text-align: center;
    align-items: center;
    margin-top: 10vh;
}
.girl2{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer{
    background-color: navy;
    color: white;
    text-align: center;
    
}
.boton{
    width: 15vw;
    height: 5vw;
    background-color: cadetblue;
    color: white;
    border-radius: 10%;
    border: none;
   
}
.botones{
    display: flex;
    justify-content: center;
}


.b2{
    height: 5vw;
    background-color: cadetblue;
    color: white;
    width: 20vw;
    border-radius: 35%;
    border: none;
}
.red{

    background-color: red;
    color: white;
}
.material-icons{
    visibility: hidden;
}
.yyy{
    display: flex;
}

@media (max-width:550px){
    .dog{
        background-position: 74% center;
        background-size: cover;

    }
    .chiquito{
        display: block;
    }
    .girl{
        display: block;
        margin-left: 30vw;
    }
    .girl2{
        display: block;
    }
    img{
        height: 30vw;
    }
    .iconos{
        display: block;
    }
    .tabla{
        display: none;

    }
    span{
        align-items: flex-end;
    }
    .iconos img{
        width: 5vw;
        height: 7vw;

}
}
@media(max-width:700px){
    .dog{
        background-position: 80% center;
        background-size: cover;

    }
    img{
        height: 40vw;
    
    }
    .logo img{
        height: 5vw; 
    
    }
    .icons img{
        height: 5vw; 
    
    }
    .chiquitin img {
        height: 5vw; 
    }

}
  
