* {
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    border: 1px solid black ;

    background-color: chartreuse;

}
.uno{
    color: green;
}
#dos{
    color: blue;
}
input[type="password"] {
    background-color: coral;
}
