.clave{
    color: darkgreen;
}
span {
    color: rgb(200, 200, 155);
}
/* Entre las propiedades de css a las que le podemos incluir un color están: color, background color, box-shadow, border, text-shadow, outline, ....
 */
 .rgb {
     color: rgb(126, 241, 50);
     background-color: rgba(0, 0, 255, 0.856);
 }
 .hexadecimal{
     color: #ff0000;
     color: #00ff00;
     color: #0000ff;
 }
 .fun{
     color: #B3BBC1;
 }