*{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    box-sizing: border-box;
}
.cara{
    background-image: url("../images/bg_1.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    color: white;
}
.letra img{
    width: 100px;
}
.letra{
    padding-top: 20vh;
}
button{
    margin-top: 10vh;
    background-color: transparent;
    color: white;
    border: 5px solid  white;
    width: 100px;
    height: 50px;
}
.letras img{
    width: 20vw;
}

.iconos{
        margin: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
.iconos img{
    padding: 3vw 3vw 3vw 3vw;
        width: 5vw;
        
        
}
.experts{
   
    height: 20vh;
    text-align: center;
    background-color:rgb(164, 224, 224);
    height: 50vw;
}

.icon{
    background-color: white;
    margin: 3vw;
    width: 25vw;
    flex-wrap: wrap;


}

.icon img{
    border-radius: 50%;

    width: 15vw;
    height: 15vw;
}

.iconic{
        margin: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
      
}
.student{
    
    background-image: url("../images/bg_2.jpg");
    height: 50vh;
    
    background-position: center;
    background-size: cover;
    text-align: end;
    justify-items: center;   
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5vh;
}
.works img{
    width: 20vw;
    
}
.work{
    
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin: 10px;
    
    align-items: center;
   
}
.work1{
    background-color: white;
    text-align: center;
    height: 1vw;
    font-size: 40px;
    margin-bottom: 10vh;

}
.loreal{
    display: flex;
    height: 30vh;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;

}
.works7 img{
    width: 25vw;
   filter: invert(20%);
    
}
.prices2{
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
    
}


.prices{
    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.table1{
    width: 30vw;
    height: 20vh;
    text-align: center;
    font-weight: bolder;
}
.table2{
    width: 30vw;
    height: 20vh;
    text-align: center;
    
}
.table3{
    width: 30vw;
    height: 20vh;
    text-align: center;
    
}

.plus{
    text-align: end;
}
.con{
    background-color: gray;
}





footer{
    background-color: rgb(206, 33, 206);
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uno{
    background-color: rgb(216, 58, 92);
   border-radius: 10%;
    height: 40vh;
    width: 40vw;
    text-align: center;
    color: white;
   padding-top: 30px;
}
.dos{
    
    margin-top: 30px;
    height: 40vh;
    width: 40vw;
    color: white;
    text-align: center;

}
hr{
    margin-left: 20px;
    width: 80%;
}
.tres{
    margin-top: 10px;
}
@media (max-width: 500px){
    
    .prices{
        margin-left: 20vw;
        display: block;
        margin: 10px;
    }
    .table1{
        margin-left: 20vw;

    }
    .table2{
        margin-left: 20vw;

    }
    .table3{
        margin-left: 20vw;

    }
    .prices2{
        margin-left: 20vw;
        text-align: start;
        margin-top: 20vh;
    }
    footer{
        display: block;
        height: 130vh;

    }
    .loreal{
        margin-left: 20vw;
        display: block;

    }
    .work{
        
        display: block;
        margin-top: 20vh;
    }
    .work1{
        margin-left: 20vw;
        text-align: start;
    }
    .iconos{
        margin-left: 10vw;
        display: block;
    }
    .uno{
        margin-left: 30vw;
        height: 60vh;

    }
    .dos{
        margin-left: 30vw;
    }
    .iconic{
        margin-left: 20vw;
        display: block;
        margin: 10px;

    }
    .works img{
        margin-left: 25vw;
        width: 30vw;
        height: 20vh;
    }
    .experts{
        height: 200vh;
    }
    .icon{
       
        margin: 20vw;
        width: 40vw;
        flex-wrap: wrap;

    }
    .table1{
        width: 150px;
        margin-bottom: 10px;
    }
    .table2{
        width: 50px;
        margin-bottom: 10px;

    }
    .table3{
        width: 150px;
    }

}
