h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor1 {
    height: 200px;
    width: 200px;
    background-color: aqua;
}
.contenedor1:hover{
    background-color: red;
    border-radius: 50%;
    border: dashed 10px black ;
    transition:2s;
    
}
.contenedor2 {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 119);
    transition:0.5s;
}

    
    .contenedor2:active{
        background-color: rgb(0, 17, 255);
        border-radius: 50%;
        border: dashed 10px black ;

    }
    a:visited{
        color: green;
    }
   
    a [href="https://www.youtube.com/watch?v=bMD4oUZfh5k"]:link{
        color: yellow;
    }
    .pas::first-line{
        color: gold;
    }
    .pas::first-letter{
        color: blue;
        font-size: xx-large;
    }
